{% extends 'base.html' %}

{% block title %}Blog Listings - Flask Blog{% endblock %}

{% block content %}
    <section style="padding: 20px; background-color: #f9f9f9;">
        <h2 style="text-align: center; margin-bottom: 20px;">Blog Listings</h2>
        <ul style="list-style-type: none; padding: 0;">
            {% for post in blog_posts %}
                <li style="margin-bottom: 20px;">
			<a href="{{ url_for('post', post_id=post.id) }}" class="card"> <strong> TITLE: 
						{{ post.title }} </strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endblock %}

